<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="materialize.min.css">
    <title>Client</title>
</head>
<body>
    <nav>
        <span class="brand-logo center">Soil Moisture</span>
    </nav>
    <h1>Current Water </h1>
    <div id="disp" style="height: 300px; width:300px; margin-left: auto; margin-right: auto;background-color: lightgrey"></div>
    <script src="main.js"></script>
    <script src="materialize.min.js"></script>
</body>
</html>