<!DOCTYPE html>
<html style="overflow-x:hidden">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Soil Moisture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="materialize.min.css" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body > 

        <nav class="green darken-2">
            <a href="#" data-target="sidenav" class="sidenav-trigger waves-ripple"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center">Soil Moisture</a>
        </nav>
        <ul id="sidenav" class="sidenav">
    
        </ul>
        <div class="main-content">
            <div class="card canvas-card">
                <canvas id="moisture-canvas">
    
                </canvas>
            </div>

    </div>
    <script src="client.js"></script>
    <script src="materialize.min.js"></script>
</body>

</html>